@media(min-width:240px) and (max-width:359px){
    .company-box{
        width: 100%;
        h1{
            font-size: 25px !important;
        }
        .box-company-text{
            display: block;
            img{
                width: 98%;
                margin: 10px auto;
                height: auto;
            }
            p{
                font-size: 11px !important;
                font-weight: 600;
            }
        }
        .location-box{
            width: 100%;
        }
        .location{
            width: 90% !important;
            height: 500px !important;
        }
    }
}

@media(min-width:360px) and (max-width:390px){
    .company-box{
        width: 100%;
        h1{
            font-size: 25px !important;
        }
        .box-company-text{
            display: block;
            img{
                width: 98%;
                margin: 10px auto;
                height: auto;
            }
            p{
                font-size: 14px !important;
                font-weight: 600;
            }
        }
        .location{
            width: 90% !important;
            height: 500px !important;
        }
    }
}
@media(min-width:391px) and (max-width:470px){
    .company-box{
        width: 100%;
        h1{
            font-size: 25px !important;
        }
        .box-company-text{
            display: block;
            img{
                width: 98%;
                margin: 10px auto;
                height: auto;
            }
            p{
                font-size: 14px !important;
                font-weight: 600;
            }
        }
        .location{
            width: 90% !important;
            height: 500px !important;
        }
    }
}

@media(min-width:471px) and (max-width:550px){
    .company-box{
        width: 100%;
        h1{
            font-size: 25px !important;
        }
        .box-company-text{
            display: block;
            img{
                width: 98%;
                margin: 10px auto;
                height: auto;
            }
            p{
                font-size: 14px !important;
                font-weight: 600;
            }
        }
        .location{
            width: 90% !important;
            height: 500px !important;
        }
    }
}

@media(min-width:551px) and (max-width:770px){
    .company-box{
        width: 100%;
        h1{
            font-size: 25px !important;
        }
        .box-company-text{
            display: block;
            img{
                width: 98%;
                margin: 10px auto;
                height: auto;
            }
            p{
                font-size: 14px !important;
                font-weight: 600;
            }
        }
        .location{
            width: 90% !important;
            height: 500px !important;
        }
    }
}

@media(min-width:771px) and (max-width:890px){
    .company-box{
        width: 100%;
        h1{
            font-size: 25px !important;
        }
        .box-company-text{
            img{
                width: 65%;
                float: left;
                margin: 10px auto;
                margin-right: 15px;
                height: auto;
            }
            p{
                font-size: 14px !important;
                font-weight: 600;
            }
        }
        .location{
            width: 90% !important;
            height: 500px !important;
        }
    }
}

@media(min-width:891px) and (max-width:1048px){
    .company-box{
        width: 100%;
        h1{
            font-size: 25px !important;
        }
        .box-company-text{
            width: 97%;
            img{
                width: 65%;
                float: left;
                margin: 10px auto;
                margin-right: 15px;
                height: auto;
            }
            p{
                font-size: 14px !important;
                font-weight: 600;
            }
        }
        .location{
            width: 90% !important;
            height: 500px !important;
        }
    }
}

@media(min-width:1049px) and (max-width:1200px){
    .company-box{
        width: 100%;
        h1{
            font-size: 25px !important;
        }
        .box-company-text{
            width: 97%;
            img{
                width: 65%;
                float: left;
                margin: 10px auto;
                margin-right: 15px;
                height: auto;
            }
            p{
                font-size: 14px !important;
                font-weight: 600;
            }
        }
        .location{
            width: 90% !important;
            height: 500px !important;
        }
    }
}
@media(min-width:1201px) and (max-width:1600px){
    .company-box{
        width: 100%;
        h1{
            font-size: 25px !important;
        }
        .box-company-text{
            width: 97%;
            height: 575px;
            margin-bottom: 125px !important;
            img{
                width: 65%;
                float: left;
                margin: 10px auto;
                margin-right: 15px;
                height: auto;
            }
            p{
                font-size: 14px !important;
                font-weight: 600;
                margin-bottom: 75px;
            }
        }
        .location-box{
            width: 100%;
            margin-top: 225px;
        }
        .location{
            width: 90% !important;
            height: 500px !important;
        }
    }
}